<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <!--<test name="Nopackage" >
        <classes>
            <class name="NoPackageTest" />
        </classes>
    </test>

    <test name="Regression1">
        <classes>
            <class name="test.sample.ParameterSample"/>
            <class name="test.sample.ParameterTest"/>
        </classes>
    </test>-->
    <test name="all" thread-count="1" parallel="classes">
        <groups>
            <run>
                <include name="unit"/>
                <include name="dev"/>
            </run>
        </groups>
        <packages>
            <package name="org.riderzen.*"/>
        </packages>
    </test>
</suite>
